.news {
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    margin-bottom: 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    column-gap: 40px;
    row-gap: 20px;

    @media (max-width: 650px) {
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
  }
}
