.news-item {
  border-radius: 20px;
  border: 1px solid $light;

  &__image {
    border-radius: 20px 20px 0 0;
  }

  &__info {
    padding: 0 20px 20px;
  }

  &__title {
    height: 100px;
    margin-top: -40px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    line-height: 29.26px;

    @media (max-width: 650px) {
      height: 40px;
      font-size: 14px;
      line-height: 17.07px;
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-bottom: 15px;
    color: $light-max-opacity;

    @media (max-width: 650px) {
      font-size: 12px;
      line-height: 14.63px;
    }
  }

  &__extra-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;

    @media (max-width: 650px) {
      font-size: 12px;
      line-height: 14.63px;
    }
  }
}
