.search-form {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 100px;
  padding: 20px 25px;
  border: 2px solid $light;
  max-height: 60px;

  @media (max-width: 1115px) {
    padding: 10px 15px;
  }

  &__input {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: $light;

    &::placeholder {
      color: $light;
    }
  }

  &__button {
    height: 20px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }
}
