@import './scss/variables';
@import './scss/normalize';
@import './scss/font';
@import './scss/components/header.scss';
@import './scss/components/searchForm.scss';
@import './scss/components/navigationButton.scss';
@import './scss/components/breadCrumb.scss';
@import './scss/components/news.scss';
@import './scss/components/newsItem.scss';
@import './scss/components/pagination.scss';

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: $dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light;
}
